<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recommendation System</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #563d7c;">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/" style="color: white;" ><h5>Home</h5> <span class="sr-only">(current)</span></a>
    </li>
  <li class="nav-item active">
       <a class="nav-item nav-link disabled" href="#" tabindex="-1" style="color: white;" aria-disabled="true"><h5>Recommend</h5></a>
    </li>
  </ul>
  <span class="navbar-text" style="color: white;">
      <h3>Expression based Recommendation system</h3>
  </span>
</div>
</nav>
    <div class="container">
        <div id="content" style="margin-top:2em">{% block content %}{% endblock %}</div>
    </div>
</body>

<footer>
    <div class="foot" style="background-color: #563d7c; color: white; position:fixed; bottom:0px;">
<h5><center>
    <b>Minor Project - 2021</b><br>
    <b>Developed By <a href="https://fb.com/">Grp</a></b>
</center></h5>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
</footer>

</html>
