{% extends "import.html" %}
{% block content %}

<br><br>
{% if data[1]=="Sad" and  data[0]=="Movies" %}
<h5>MOVIES</h5>
<h5> <a href="https://www.imdb.com/title/tt1045658/">--Silver lining Playbook</a></h5>
<h5> <a href="https://www.imdb.com/title/tt0332280/">--the Notebook</a></h5>
<h5> <a href="https://www.imdb.com/title/tt2294629/">--Pursuit of happiness</a></h5>
<h5> <a href="https://www.imdb.com/title/tt0454921/">--Frozen</a></h5>
<h5> <a href="https://www.imdb.com/title/tt0454876/">--Life of pi</a></h5><br>
{% elif data[1]=="Sad" and  data[0]=="Books" %}
<h4>BOOKS</h4>
<h5> <a href="https://www.goodreads.com/book/show/1885.Pride_and_Prejudice">--pride and prejudice</a></h5>
<h5> <a href="https://www.goodreads.com/book/show/7785207-the-mating">--the mating</a></h5>
<h5> <a href="https://www.goodreads.com/book/show/112750.Darkfever">--dark fever</a></h5>
<h5> <a href="https://www.goodreads.com/book/show/10183211-damian-s-oracle">--damian s oracle</a></h5>
<h5> <a href="https://www.goodreads.com/book/show/10475907-til-death">--till death</a></h5><br>
{% elif data[1]=="Sad" and  data[0]=="Songs" %}
<h4>MUSIC</h4>
<h5> <a href="https://www.songfacts.com/category/songs-about-leaving-the-past-behind">--forget the past with this songs</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-a-breakup">--feel along with songs</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-being-away-from-loved-ones">--for loved ones who are farway</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-depression">--listen to this if you are depressed</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-feeling-helpless">--songs if you feel helpless</a></h5><br><br>

{% elif data[1]=="Happy" and  data[0]=="Movies" %}
<h5>MOVIES</h5>
<h5> <a href="https://www.imdb.com/title/tt1323594/">--Despicable me</a></h5>
<h5> <a href="https://www.amctheatres.com/amc-scene/the-best-way-to-rewatch-the-mcu">--Marvel movies</a></h5>
<h5> <a href="https://www.imdb.com/title/tt0109830/">--Forest Gump</a></h5>
<h5> <a href="https://www.imdb.com/title/tt5164214/">--Ocean's Eight</a></h5>
<h5> <a href="https://www.imdb.com/title/tt0167404/?ref_=ttls_li_tt">--The sixth sense</a></h5><br>
{% elif data[1]=="Happy" and  data[0]=="Books" %}
<h4>BOOKS</h4>
<h5> <a href="https://www.amazon.in/Designed-Destined-Greatness-Practical-successful-ebook/dp/B08SJ5CXSF">--For success</a></h5>
<h5> <a href="https://www.amazon.in/MANY-HAPPY-ACCIDENT-Recollections-Life-ebook/dp/B08RMWJ334">--Happy Accidents</a></h5>
<h5> <a href="https://www.amazon.in/Recipe-Be-Happy-Meeti-Sheth-ebook/dp/B08HQSF6HD">--Recipe be Happy</a></h5>
<h5> <a href="https://www.amazon.in/Source-Power-Happy-Thoughts-ebook/dp/B0092FW4NK">--Happy Thoughts</a></h5>
<h5> <a href="http://www.gutenberg.org/ebooks/902">--Gutenberg</a></h5><br>
{% elif data[1]=="Happy" and  data[0]=="Songs" %}
<h4>MUSIC</h4>
<h5> <a href="https://www.songfacts.com/category/songs-about-dancing">--Wanna dance the night away?</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-clubbing-or-a-night-out">--for Partying</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-djs">--DJ Hits</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-friendship">--With Friends</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-nature">--Nature Lover</a></h5><br><br>

{% elif data[1]=="Angry" and  data[0]=="Movies" %}
<h5>MOVIES</h5>
<h5> <a href="https://www.imdb.com/title/tt2096673/">--Inside Out</a></h5>
<h5> <a href="https://www.imdb.com/title/tt6802400/">--Coming 2 America</a></h5>
<h5> <a href="https://www.imdb.com/title/tt1618434/">--Murder Mystery</a></h5>
<h5> <a href="https://www.imdb.com/title/tt6588966/">--Hichki</a></h5>
<h5> <a href="https://www.imdb.com/title/tt7391996/">--C/o Kancherapalem</a></h5><br>
{% elif data[1]=="Angry" and  data[0]=="Books" %}
<h4>BOOKS</h4>
<h5> <a href="https://www.bookrix.com/_ebook-doug-robbins-the-ghost-of-angry-jack/">--the Ghost of angry jack</a></h5>
<h5> <a href="https://www.bookrix.com/_ebook-ben-lev-angry-alyssa/">--Angry Alyssa</a></h5>
<h5> <a href="https://www.bookrix.com/_ebook-kayla-stiles-shadows-of-the-past/">--Shadows of The past</a></h5>
<h5> <a href="https://www.bookrix.com/_ebook-miss-awesome-smiley-faces/">--Awesome Smiley faces</a></h5><br>
{% elif data[1]=="Angry" and  data[0]=="Songs" %}
<h4>MUSIC</h4>
<h5> <a href="https://www.songfacts.com/category/songs-about-pressure-or-burdens">--To relieve Stress</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-rejection">--To cool down</a></h5>
<h5> <a href="https://www.songfacts.com/category/pessimistic-songs">--To feel positive</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-a-fresh-start">--To have a Fresh start</a></h5><br><br>

{% elif data[1]=="Disgust" and  data[0]=="Movies" %}

<h5>MOVIES</h5>
<h5> <a href="https://m.imdb.com/title/tt2096673/">--link1</a></h5>
<h5> <a href="https://www.imdb.com/title/tt4193394/">--link2</a></h5>
<h5> <a href="https://www.imdb.com/title/tt0283246/">--link3</a></h5>
<h5> <a href="https://www.imdb.com/title/tt4675030/">--link4</a></h5>
<h5> <a href="https://www.imdb.com/title/tt3235888/?ref_=ttls_li_tt">--link5</a></h5><br>
{% elif data[1]=="Disgust" and  data[0]=="Books" %}
<h4>BOOKS</h4>
<h5> <a href="https://press.princeton.edu/books/paperback/9780691126258/hiding-from-humanity">--link1</a></h5>
<h5> <a href="https://www.taylorfrancis.com/books/mono/10.4324/9780203780558/disgust-susan-miller">--link2</a></h5>
<h5> <a href="https://www.taylorfrancis.com/books/mono/10.4324/9780429201158/politics-disgust-eleonora-joensuu">--link3</a></h5>
<h5> <a href="https://www.springer.com/gp/book/9783319198989">--link4</a></h5>
<h5> <a href="https://understandingautoimmune.com/episodes/power-of-disgust/">--link5</a></h5><br>
{% elif data[1]=="Disgust" and  data[0]=="Songs" %}
<h4>MUSIC</h4>
<h5> <a href="https://youtu.be/BaUlReHzSOw">--link1</a></h5>
<h5> <a href="https://youtu.be/fk_aksEz_aQ">--link2</a></h5>
<h5> <a href="https://youtu.be/Gzb76I8qh2Y">--link3</a></h5>
<h5> <a href="https://youtu.be/cweQO2gfh2s">--link4</a></h5>
<h5> <a href="https://youtu.be/kEgjp-BUoHE">--link5</a></h5><br><br>

{% elif data[1]=="Neutral" and  data[0]=="Movies" %}
<h5>MOVIES</h5>
<h5> <a href="https://www.imdb.com/title/tt3783958/">--La La land</a></h5>
<h5> <a href="https://www.imdb.com/title/tt0795421/">--Mamma Mia</a></h5>
<h5> <a href="https://www.imdb.com/title/tt1049413/">--Up!</a></h5>
<h5> <a href="https://www.imdb.com/title/tt2388715/">--Oculus</a></h5>
<h5> <a href="https://www.imdb.com/title/tt1588170/">--I saw the devil</a></h5><br>
{% elif data[1]=="Neutral" and  data[0]=="Books" %}
<h4>BOOKS</h4>
<h5> <a href="https://www.free-ebooks.net/s/vR0kL">--Angel Girl</a></h5>
<h5> <a href="https://www.free-ebooks.net/s/AWZx7">--Spiritual Empowerment</a></h5>
<h5> <a href="https://www.free-ebooks.net/s/E1WPW">--Confession</a></h5>
<h5> <a href="https://www.free-ebooks.net/s/BOZy2">--Jaded</a></h5><br>
{% elif data[1]=="Neutral" and  data[0]=="Music" %}
<h4>MUSIC</h4>
<h5> <a href="https://www.youtube.com/watch?v=zLB0vicG38I">--Sit And Enjoy</a></h5>
<h5> <a href="https://www.youtube.com/watch?v=pUJid6MNyzA">--2021 top 40</a></h5>
<h5> <a href="https://www.youtube.com/watch?v=TVUNi0zi1yw">Kpop Sensations</a></h5><br><br>


{% elif data[1]=="Surprise" and  data[0]=="Movies" %}
<h5>MOVIES</h5>
<h5> <a href="https://www.imdb.com/title/tt2659414/">--Miracle in Cell no.7</a></h5>
<h5> <a href="https://www.imdb.com/title/tt1130884/">--Shutter Island</a></h5>
<h5> <a href="https://www.imdb.com/title/tt2380307/">--CoCo</a></h5>
<h5> <a href="https://www.imdb.com/title/tt6857112/">--Us</a></h5>
<h5> <a href="https://www.imdb.com/title/tt3659388/">--Martian</a></h5><br>
{% elif data[1]=="Surprise" and  data[0]=="Books" %}
<h4>BOOKS</h4>
<h5> <a href="https://www.amazon.in/Kargil-Surprise-Victory-General-Malik-ebook/dp/B00AAI3CYS">--kargil surprise</a></h5>
<h5> <a href="https://www.amazon.in/Double-Surprise-Shanaya-Taneja-ebook/dp/B081WTC3WG">--Double surprise</a></h5><br>
{% elif data[1]=="Surprise" and  data[0]=="Songs" %}
<h4>MUSIC</h4>
<h5> <a href="https://www.youtube.com/watch?v=L025JSIBhk0">--One Direction Songs</a></h5>
<h5> <a href="https://www.youtube.com/watch?v=ftfkOjXCJf4">--Best Edm songs</a></h5><br><br>

{% elif data[1]=="Fear" and  data[0]=="Movies" %}
<h5>MOVIES</h5>
<h5> <a href="https://www.imdb.com/title/tt0119654/">--Men in Black</a></h5>
<h5> <a href="https://www.imdb.com/title/tt3521164/">--Moana</a></h5>
<h5> <a href="https://www.imdb.com/title/tt0475293/">--High school Musical</a></h5>
<h5> <a href="https://www.imdb.com/title/tt9541602/">--Extreame Job</a></h5>
<h5> <a href="https://www.imdb.com/title/tt3322420/">--Queen</a></h5><br>
{% elif data[1]=="Fear" and  data[0]=="Books" %}
<h4>BOOKS</h4>
<h5> <a href="https://www.bookrix.com/_ebook-c-b-cooper-the-daughter/">--the daughter</a></h5>
<h5> <a href="https://www.bookrix.com/_ebook-michael-whitehouse-bedtime/">--whitehouse bedtime</a></h5>
<h5> <a href="https://www.bookrix.com/_ebook-hima-vemula-the-boy-in-the-striped-pajamas/">--the boy in striped pajamas</a></h5>
<h5> <a href="https://www.bookrix.com/_ebook-t-d-jackson-bite/">--Bite</a></h5><br>
{% elif data[1]=="Fear" and  data[0]=="Songs" %}
<h4>MUSIC</h4>
<h5> <a href="https://www.songfacts.com/category/songs-about-confidence-or-courage">--Gain Confidence and Courage</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-encouragement-or-acceptance">--To Encourage You</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-fear-or-anxiety">--To Decrease Anxiety</a></h5>
<h5> <a href="https://www.songfacts.com/category/songs-about-loneliness-or-isolation">--Scared that you're Lonely?</a></h5><br><br>

{%endif%}
{% endblock %}
